.footer {
  padding: 19px 118px 721px 75px;
}

.footer__list {
  height: 225px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__item-backward {
  align-self: center;
}

.footer__item {
  align-self: flex-start;
}

.footer__item-ref {
  color: var(--black);
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}

.footer__item-ref::before {
  padding-right: 14px;
  content: "\2190";
  font-size: 21px;
}

.footer__item-img-medium {
  display: none;
}

.cream__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .footer {
    padding: 25px 21px 954px 42px;
  }

  .footer__list {
    height: 166px;
  }

  .footer__item-ref {
    font-size: 14px;
  }

  .footer__item-ref::before {
    padding-right: 10px;
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 10px 21px 13px 42px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 10px 19px 557px 20px;
  }

  .footer__list {
    height: 121px;
  }

  .footer__item-ref {
    font-size: 10px;
  }

  .footer__item-ref::before {
    padding-right: 7px;
    font-size: 14px;
  }

  .footer__item-backward {
    align-self: flex-end;
  }
}
