.card-footer {
  padding: 47px 50px 142px 79px;
}

.card-footer__title {
  margin-bottom: 49px;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
}

.card-footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 53px 30px;
}

.discount-10::after {
  position: absolute;
  content: "";
  background-image: url("../img/discount10.png");
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  left: 20px;
  bottom: 20px;
}

.discount-30::after {
  position: absolute;
  content: "";
  background-image: url("../img/discount30.png");
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  left: 20px;
  bottom: 20px;
}

.discount-40::after {
  position: absolute;
  content: "";
  background-image: url("../img/discount40.png");
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  left: 20px;
  bottom: 20px;
}

.discount-50::after {
  position: absolute;
  content: "";
  background-image: url("../img/discount50.png");
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  left: 20px;
  bottom: 20px;
}

.card-footer__item-shirts {
  position: relative;
  width: 420px;
  height: 295px;
  margin-bottom: 20px;
  background-image: url("../img/shirts.jpg");
}

.card-footer__item-sneakers {
  position: relative;
  width: 420px;
  height: 295px;
  margin-bottom: 20px;
  background-image: url("../img/sneakers.jpg");
}

.card-footer__item-bedroom {
  position: relative;
  width: 420px;
  height: 295px;
  margin-bottom: 20px;
  background-image: url("../img/bedroom.jpg");
}

.card-footer__item-dryers {
  position: relative;
  width: 420px;
  height: 295px;
  margin-bottom: 20px;
  background-image: url("../img/dryers.jpg");
}

.card-footer__item-mittens {
  position: relative;
  width: 420px;
  height: 295px;
  margin-bottom: 20px;
  background-image: url("../img/mittens.jpg");
}

.card-footer__item-price {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.line-through {
  vertical-align: text-top;
  padding-left: 22px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 1024px) {
  .card-footer {
    padding: 47px 0 0 42px;
  }

  .card-footer__title {
    margin-bottom: 40px;
    font-size: 40px;
  }

  .card-footer__list {
    gap: 55px 20px;
  }

  .card-footer__item-shirts {
    width: 300px;
    background-image: url("../img/shirts-1024.jpg");
  }

  .card-footer__item-sneakers {
    width: 300px;
    background-image: url("../img/sneakers-1024.jpg");
  }

  .card-footer__item-bedroom {
    width: 300px;
    background-image: url("../img/bedroom-1024.jpg");
  }

  .card-footer__item-dryers {
    width: 300px;
    background-image: url("../img/dryers-1024.jpg");
  }

  .card-footer__item-mittens {
    width: 300px;
    background-image: url("../img/mittens-1024.jpg");
  }
}

@media (max-width: 768px) {
  .card-footer {
    padding: 34px 34px 0 34px;
  }

  .card-footer__title {
    margin-bottom: 28px;
    font-size: 30px;
  }

  .card-footer__list {
    gap: 39px 20px;
  }

  .card-footer__item-shirts {
    width: 220px;
    height: 216px;
    margin-bottom: 15px;
    background-image: url("../img/shirts-768.jpg");
  }

  .card-footer__item-sneakers {
    width: 220px;
    height: 216px;
    margin-bottom: 15px;
    background-image: url("../img/sneakers-768.jpg");
  }

  .card-footer__item-bedroom {
    width: 220px;
    height: 216px;
    margin-bottom: 15px;
    background-image: url("../img/bedroom-768.jpg");
  }

  .card-footer__item-dryers {
    width: 220px;
    height: 216px;
    margin-bottom: 15px;
    background-image: url("../img/dryers-768.jpg");
  }

  .card-footer__item-mittens {
    width: 220px;
    height: 216px;
    margin-bottom: 15px;
    background-image: url("../img/mittens-768.jpg");
  }

  .card-footer__item-price {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 26px;
  }

  .line-through {
    padding-left: 11px;
    font-size: 16px;
    line-height: 19px;
  }

  .card-footer__item-name {
    font-size: 18px;
  }

  .discount-10::after {
    background-image: url("../img/discount10-768.png");
    width: 60px;
    height: 60px;
    left: 10px;
    bottom: 12px;
  }

  .discount-30::after {
    background-image: url("../img/discount30-768.png");
    width: 60px;
    height: 60px;
    left: 10px;
    bottom: 12px;
  }

  .discount-40::after {
    background-image: url("../img/discount40-768.png");
    width: 60px;
    height: 60px;
    left: 10px;
    bottom: 12px;
  }

  .discount-50::after {
    background-image: url("../img/discount50-768.png");
    width: 60px;
    height: 60px;
    left: 10px;
    bottom: 12px;
  }
}

@media (max-width: 320px) {
  .card-footer {
    padding: 13px 20px 21px 19px;
  }

  .card-footer__title {
    margin-bottom: 23px;
    font-size: 20px;
  }

  .card-footer__list {
    gap: 33px 21px;
  }

  .card-footer__item-shirts {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
    background-image: url("../img/shirts-320.jpg");
  }

  .card-footer__item-sneakers {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    background-image: url("../img/sneakers-320.jpg");
  }

  .card-footer__item-bedroom {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    background-image: url("../img/bedroom-320.jpg");
  }

  .card-footer__item-dryers {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    background-image: url("../img/dryers-320.jpg");
  }

  .card-footer__item-mittens {
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    background-image: url("../img/mittens-320.jpg");
  }

  .card-footer__item-price {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 19px;
  }

  .line-through {
    padding-left: 11px;
    font-size: 12px;
    line-height: 14px;
  }

  .card-footer__item-name {
    font-size: 12px;
  }

  .discount-10::after {
    background-image: url("../img/discount10-320.png");
    width: 40px;
    height: 40px;
    left: 7px;
    bottom: 4px;
  }

  .discount-30::after {
    background-image: url("../img/discount30-320.png");
    width: 40px;
    height: 40px;
    left: 7px;
    bottom: 4px;
  }

  .discount-40::after {
    background-image: url("../img/discount40-320.png");
    width: 40px;
    height: 40px;
    left: 7px;
    bottom: 4px;
  }

  .discount-50::after {
    background-image: url("../img/discount50-320.png");
    width: 40px;
    height: 40px;
    left: 7px;
    bottom: 4px;
  }
}
