.card-footer {
  padding: 47px 50px 142px 79px;
  @include laptop {
    padding: 47px 0 100px 42px;
  }
  @include tablet {
    padding: 34px 34px 84px 34px;
  }
  @include mobile {
    padding: 13px 20px 69px 19px;
  }
  &__title {
    margin-bottom: 49px;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    @include laptop {
      margin-bottom: 40px;
      font-size: 40px;
    }
    @include tablet {
      margin-bottom: 28px;
      font-size: 30px;
    }
    @include mobile {
      margin-bottom: 23px;
      font-size: 20px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 53px 30px;
    @include laptop {
      gap: 55px 20px;
    }
    @include tablet {
      gap: 39px 20px;
    }
    @include mobile {
      gap: 33px 21px;
    }
  }
  &__section {
    padding: 0px 58px 55px 76px;
    @include laptop {
      padding: 0px 42px 55px 40px;
      margin-bottom: 50px;
    }
    @include tablet{
      padding: 0px 32px 55px 33px;
    }
    @include mobile{
      padding: 18px 19px 55px 20px;
    }
  }
  &__item {
    position: relative;
    @include laptop {
      max-width: 300px;
    }
    @include laptop {
      max-width: 220px;
    }
    @include laptop {
      max-width: 130px;
    }
    &-link {
      color: $black;
    }
    &-discount {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 115px;
      left: 19px;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background: {
        color: #FFBD13;
      }
      color: $white;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      @include laptop {
        bottom: 158px;
        left: 21px;
        font-size: 20px;
      }
      @include tablet {
        width: 60px;
        height: 60px;
        bottom: 119px;
        left: 11px;
        font-size: 16px;
      }
      @include mobile {
        width: 40px;
        height: 40px;
        bottom: 76px;
        left: 5px;
        font-size: 12px;
      }
    }
    &-pic {
      height: 295px;
      width: 420px;
      border-radius: 14px;
      @include laptop {
        height: 295px;
        width: 300px;
        margin-bottom: 10px;
      }
      @include tablet {
        height: 216px;
        width: 220px;
        border-radius: 12px;
      }
      @include mobile {
        height: 130px;
        width: 130px;
        margin-bottom: 2px;
      }
    }
    &-hideable {
      @include laptop {
        display: none;
      }
    }
    &-shirts {
      position: relative;
      width: 420px;
      height: 295px;
      margin-bottom: 20px;
      background-image: url("../img/shirts.jpg");
      background-image: -webkit-image-set(
        url("../img/shirts.avif") 1x,
        url("../img/shirts.webp") 1x,
        url("../img/shirts.jpg") 1x
      );
      background-image: image-set(
        url("../img/shirts.avif") 1x,
        url("../img/shirts.webp") 1x,
        url("../img/shirts.jpg") 1x
      );
      @include laptop {
        width: 300px;
        background-image: url("../img/shirts-1024.jpg");
        background-image: -webkit-image-set(
          url("../img/shirts-1024.avif") 1x,
          url("../img/shirts-1024.webp") 1x,
          url("../img/shirts-1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/shirts-1024.avif") 1x,
          url("../img/shirts-1024.webp") 1x,
          url("../img/shirts-1024.jpg") 1x
        );
      }
      @include tablet {
        width: 220px;
        height: 216px;
        margin-bottom: 15px;
        background-image: url("../img/shirts-768.jpg");
        background-image: -webkit-image-set(
          url("../img/shirts-768.avif") 1x,
          url("../img/shirts-768.webp") 1x,
          url("../img/shirts-768.jpg") 1x
        );
        background-image: image-set(
          url("../img/shirts-768.avif") 1x,
          url("../img/shirts-768.webp") 1x,
          url("../img/shirts-768.jpg") 1x
        );
      }
      @include mobile {
        width: 130px;
        height: 130px;
        margin-bottom: 15px;
        background-image: url("../img/shirts-320.jpg");
        background-image: -webkit-image-set(
          url("../img/shirts-320.avif") 1x,
          url("../img/shirts-320.webp") 1x,
          url("../img/shirts-320.jpg") 1x
        );
        background-image: image-set(
          url("../img/shirts-320.avif") 1x,
          url("../img/shirts-320.webp") 1x,
          url("../img/shirts-320.jpg") 1x
        );
      }
    }
    &-sneakers {
      position: relative;
      width: 420px;
      height: 295px;
      margin-bottom: 20px;
      background-image: url("../img/sneakers.jpg");
      background-image: -webkit-image-set(
        url("../img/sneakers.avif") 1x,
        url("../img/sneakers.webp") 1x,
        url("../img/sneakers.jpg") 1x
      );
      background-image: image-set(
        url("../img/sneakers.avif") 1x,
        url("../img/sneakers.webp") 1x,
        url("../img/sneakers.jpg") 1x
      );
      @include laptop {
        width: 300px;
        background-image: url("../img/sneakers-1024.jpg");
        background-image: -webkit-image-set(
          url("../img/sneakers-1024.avif") 1x,
          url("../img/sneakers-1024.webp") 1x,
          url("../img/sneakers-1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/sneakers-1024.avif") 1x,
          url("../img/sneakers-1024.webp") 1x,
          url("../img/sneakers-1024.jpg") 1x
        );
      }
      @include tablet {
        width: 220px;
        height: 216px;
        margin-bottom: 15px;
        background-image: url("../img/sneakers-768.jpg");
        background-image: -webkit-image-set(
          url("../img/sneakers-768.avif") 1x,
          url("../img/sneakers-768.webp") 1x,
          url("../img/sneakers-768.jpg") 1x
        );
        background-image: image-set(
          url("../img/sneakers-768.avif") 1x,
          url("../img/sneakers-768.webp") 1x,
          url("../img/sneakers-768.jpg") 1x
        );
      }
      @include mobile {
        width: 130px;
        height: 130px;
        margin-bottom: 10px;
        background-image: url("../img/sneakers-320.jpg");
        background-image: -webkit-image-set(
          url("../img/sneakers-320.avif") 1x,
          url("../img/sneakers-320.webp") 1x,
          url("../img/sneakers-320.jpg") 1x
        );
        background-image: image-set(
          url("../img/sneakers-320.avif") 1x,
          url("../img/sneakers-320.webp") 1x,
          url("../img/sneakers-320.jpg") 1x
        );
      }
    }
    &-bedroom {
      position: relative;
      width: 420px;
      height: 295px;
      margin-bottom: 20px;
      background-image: url("../img/bedroom.jpg");
      background-image: -webkit-image-set(
        url("../img/bedroom.avif") 1x,
        url("../img/bedroom.webp") 1x,
        url("../img/bedroom.jpg") 1x
      );
      background-image: image-set(
        url("../img/bedroom.avif") 1x,
        url("../img/bedroom.webp") 1x,
        url("../img/bedroom.jpg") 1x
      );
      @include laptop {
        width: 300px;
        background-image: url("../img/bedroom-1024.jpg");
        background-image: -webkit-image-set(
          url("../img/bedroom-1024.avif") 1x,
          url("../img/bedroom-1024.webp") 1x,
          url("../img/bedroom-1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/bedroom-1024.avif") 1x,
          url("../img/bedroom-1024.webp") 1x,
          url("../img/bedroom-1024.jpg") 1x
        );
      }
      @include tablet {
        width: 220px;
        height: 216px;
        margin-bottom: 15px;
        background-image: url("../img/bedroom-768.jpg");
        background-image: -webkit-image-set(
          url("../img/bedroom-768.avif") 1x,
          url("../img/bedroom-768.webp") 1x,
          url("../img/bedroom-768.jpg") 1x
        );
        background-image: image-set(
          url("../img/bedroom-768.avif") 1x,
          url("../img/bedroom-768.webp") 1x,
          url("../img/bedroom-768.jpg") 1x
        );
      }
      @include mobile {
        width: 130px;
        height: 130px;
        margin-bottom: 10px;
        background-image: url("../img/bedroom-320.jpg");
        background-image: -webkit-image-set(
          url("../img/bedroom-320.avif") 1x,
          url("../img/bedroom-320.webp") 1x,
          url("../img/bedroom-320.jpg") 1x
        );
        background-image: image-set(
          url("../img/bedroom-320.avif") 1x,
          url("../img/bedroom-320.webp") 1x,
          url("../img/bedroom-320.jpg") 1x
        );
      }
    }
    &-dryers {
      position: relative;
      width: 420px;
      height: 295px;
      margin-bottom: 20px;
      background-image: url("../img/dryers.jpg");
      background-image: -webkit-image-set(
        url("../img/dryers.avif") 1x,
        url("../img/dryers.webp") 1x,
        url("../img/dryers.jpg") 1x
      );
      background-image: image-set(
        url("../img/dryers.avif") 1x,
        url("../img/dryers.webp") 1x,
        url("../img/dryers.jpg") 1x
      );
      @include laptop {
        width: 300px;
        background-image: url("../img/dryers-1024.jpg");
        background-image: -webkit-image-set(
          url("../img/dryers-1024.avif") 1x,
          url("../img/dryers-1024.webp") 1x,
          url("../img/dryers-1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/dryers-1024.avif") 1x,
          url("../img/dryers-1024.webp") 1x,
          url("../img/dryers-1024.jpg") 1x
        );
      }
      @include tablet {
        width: 220px;
        height: 216px;
        margin-bottom: 15px;
        background-image: url("../img/dryers-768.jpg");
        background-image: -webkit-image-set(
          url("../img/dryers-768.avif") 1x,
          url("../img/dryers-768.webp") 1x,
          url("../img/dryers-768.jpg") 1x
        );
        background-image: image-set(
          url("../img/dryers-768.avif") 1x,
          url("../img/dryers-768.webp") 1x,
          url("../img/dryers-768.jpg") 1x
        );
      }
      @include mobile {
        width: 130px;
        height: 130px;
        margin-bottom: 10px;
        background-image: url("../img/dryers-320.jpg");
        background-image: -webkit-image-set(
          url("../img/dryers-320.avif") 1x,
          url("../img/dryers-320.webp") 1x,
          url("../img/dryers-320.jpg") 1x
        );
        background-image: image-set(
          url("../img/dryers-320.avif") 1x,
          url("../img/dryers-320.webp") 1x,
          url("../img/dryers-320.jpg") 1x
        );
      }
    }
    &-mittens {
      position: relative;
      width: 420px;
      height: 295px;
      margin-bottom: 20px;
      background-image: url("../img/mittens.jpg");
      background-image: -webkit-image-set(
        url("../img/mittens.avif") 1x,
        url("../img/mittens.webp") 1x,
        url("../img/mittens.jpg") 1x
      );
      background-image: image-set(
        url("../img/mittens.avif") 1x,
        url("../img/mittens.webp") 1x,
        url("../img/mittens.jpg") 1x
      );
      @include laptop {
        width: 300px;
        background-image: url("../img/mittens-1024.jpg");
        background-image: -webkit-image-set(
          url("../img/mittens-1024.avif") 1x,
          url("../img/mittens-1024.webp") 1x,
          url("../img/mittens-1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/mittens-1024.avif") 1x,
          url("../img/mittens-1024.webp") 1x,
          url("../img/mittens-1024.jpg") 1x
        );
      }
      @include tablet {
        width: 220px;
        height: 216px;
        margin-bottom: 15px;
        background-image: url("../img/mittens-768.jpg");
        background-image: -webkit-image-set(
          url("../img/mittens-768.avif") 1x,
          url("../img/mittens-768.webp") 1x,
          url("../img/mittens-768.jpg") 1x
        );
        background-image: image-set(
          url("../img/mittens-768.avif") 1x,
          url("../img/mittens-768.webp") 1x,
          url("../img/mittens-768.jpg") 1x
        );
      }
      @include mobile {
        width: 130px;
        height: 130px;
        margin-bottom: 10px;
        background-image: url("../img/mittens-320.jpg");
        background-image: -webkit-image-set(
          url("../img/mittens-320.avif") 1x,
          url("../img/mittens-320.webp") 1x,
          url("../img/mittens-320.jpg") 1x
        );
        background-image: image-set(
          url("../img/mittens-320.avif") 1x,
          url("../img/mittens-320.webp") 1x,
          url("../img/mittens-320.jpg") 1x
        );
      }
    }
    &-nodiscount {
      font-weight: 400;
      font-size: 20px;    
      line-height: 24px;
      text-decoration: line-through;
      align-self: flex-end;
      @include laptop {
        align-self: center;
      }
      @include tablet {
        font-size: 16px;
        line-height: 19px;
      }
      @include tablet {
        font-size: 12px;
        line-height: 14px;
      }
    }
    &-price {
      margin-bottom: 17px;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      @include tablet {
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 26px;
      }
      @include mobile {
        margin-bottom: 3px;
        font-size: 16px;
        line-height: 19px;
      }
      &-discount {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        @include tablet {
          font-size: 22px;
          line-height: 26px;
        }
        @include tablet {
          font-size: 16px;
        }
      }
      &-wrapper {
        display: flex;
        gap: 30px;
        margin-bottom: 23px;
        @include laptop {
          margin-bottom: 15px;
        }
        @include mobile {
          margin-bottom: 0px;
          gap: 16px;
        }
      }
    }
    &-discount {
      &-10::after {
        position: absolute;
        content: "";
        background-image: url("../img/discount10.png");
        background-image: -webkit-image-set(
          url("../img/discount10.avif") 1x,
          url("../img/discount10.webp") 1x,
          url("../img/discount10.png") 1x
        );
        background-image: image-set(
          url("../img/discount10.avif") 1x,
          url("../img/discount10.webp") 1x,
          url("../img/discount10.png") 1x
        );
        background-repeat: no-repeat;
        width: 88px;
        height: 88px;
        left: 20px;
        bottom: 20px;
        @include tablet {
          background-image: url("../img/discount10-768.png");
          background-image: -webkit-image-set(
            url("../img/discount10-768.avif") 1x,
            url("../img/discount10-768.webp") 1x,
            url("../img/discount10-768.png") 1x
          );
          background-image: image-set(
            url("../img/discount10-768.avif") 1x,
            url("../img/discount10-768.webp") 1x,
            url("../img/discount10-768.png") 1x
          );
          width: 60px;
          height: 60px;
          left: 10px;
          bottom: 12px;
        }
        @include mobile {
          background-image: url("../img/discount10-320.png");
          background-image: -webkit-image-set(
            url("../img/discount10-320.avif") 1x,
            url("../img/discount10-320.webp") 1x,
            url("../img/discount10-320.png") 1x
          );
          background-image: image-set(
            url("../img/discount10-320.avif") 1x,
            url("../img/discount10-320.webp") 1x,
            url("../img/discount10-320.png") 1x
          );
          width: 40px;
          height: 40px;
          left: 7px;
          bottom: 4px;
        }
      }
      &-30::after {
        position: absolute;
        content: "";
        background-image: url("../img/discount30.png");
        background-image: -webkit-image-set(
          url("../img/discount30.avif") 1x,
          url("../img/discount30.webp") 1x,
          url("../img/discount30.png") 1x
        );
        background-image: image-set(
          url("../img/discount30.avif") 1x,
          url("../img/discount30.webp") 1x,
          url("../img/discount30.png") 1x
        );
        background-repeat: no-repeat;
        width: 88px;
        height: 88px;
        left: 20px;
        bottom: 20px;
        @include tablet {
          background-image: url("../img/discount30-768.png");
          background-image: -webkit-image-set(
            url("../img/discount30-768.avif") 1x,
            url("../img/discount30-768.webp") 1x,
            url("../img/discount30-768.png") 1x
          );
          background-image: image-set(
            url("../img/discount30-768.avif") 1x,
            url("../img/discount30-768.webp") 1x,
            url("../img/discount30-768.png") 1x
          );
          width: 60px;
          height: 60px;
          left: 10px;
          bottom: 12px;
        }
        @include mobile {
          background-image: url("../img/discount30-320.png");
          background-image: -webkit-image-set(
            url("../img/discount30-320.avif") 1x,
            url("../img/discount30-320.webp") 1x,
            url("../img/discount30-320.png") 1x
          );
          background-image: image-set(
            url("../img/discount30-320.avif") 1x,
            url("../img/discount30-320.webp") 1x,
            url("../img/discount30-320.png") 1x
          );
          width: 40px;
          height: 40px;
          left: 7px;
          bottom: 4px;
        }
      }
      &-40::after {
        position: absolute;
        content: "";
        background-image: url("../img/discount40.png");
        background-image: -webkit-image-set(
          url("../img/discount40.avif") 1x,
          url("../img/discount40.webp") 1x,
          url("../img/discount40.png") 1x
        );
        background-image: image-set(
          url("../img/discount40.avif") 1x,
          url("../img/discount40.webp") 1x,
          url("../img/discount40.png") 1x
        );
        background-repeat: no-repeat;
        width: 88px;
        height: 88px;
        left: 20px;
        bottom: 20px;
        @include tablet {
          background-image: url("../img/discount40-768.png");
          background-image: -webkit-image-set(
            url("../img/discount40-768.avif") 1x,
            url("../img/discount40-768.webp") 1x,
            url("../img/discount40-768.png") 1x
          );
          background-image: image-set(
            url("../img/discount40-768.avif") 1x,
            url("../img/discount40-768.webp") 1x,
            url("../img/discount40-768.png") 1x
          );
          width: 60px;
          height: 60px;
          left: 10px;
          bottom: 12px;
        }
        @include mobile {
          background-image: url("../img/discount40-320.png");
          background-image: -webkit-image-set(
            url("../img/discount40-320.avif") 1x,
            url("../img/discount40-320.webp") 1x,
            url("../img/discount40-320.png") 1x
          );
          background-image: image-set(
            url("../img/discount40-320.avif") 1x,
            url("../img/discount40-320.webp") 1x,
            url("../img/discount40-320.png") 1x
          );
          width: 40px;
          height: 40px;
          left: 7px;
          bottom: 4px;
        }
      }
      &-50::after {
        position: absolute;
        content: "";
        background-image: url("../img/discount50.png");
        background-image: -webkit-image-set(
          url("../img/discount50.avif") 1x,
          url("../img/discount50.webp") 1x,
          url("../img/discount50.png") 1x
        );
        background-image: image-set(
          url("../img/discount50.avif") 1x,
          url("../img/discount50.webp") 1x,
          url("../img/discount50.png") 1x
        );
        background-repeat: no-repeat;
        width: 88px;
        height: 88px;
        left: 20px;
        bottom: 20px;
        @include tablet {
          background-image: url("../img/discount50-768.png");
          background-image: -webkit-image-set(
            url("../img/discount50-768.avif") 1x,
            url("../img/discount50-768.webp") 1x,
            url("../img/discount50-768.png") 1x
          );
          background-image: image-set(
            url("../img/discount50-768.avif") 1x,
            url("../img/discount50-768.webp") 1x,
            url("../img/discount50-768.png") 1x
          );
          width: 60px;
          height: 60px;
          left: 10px;
          bottom: 12px;
        }
        @include mobile {
          background-image: url("../img/discount50-320.png");
          background-image: -webkit-image-set(
            url("../img/discount50-320.avif") 1x,
            url("../img/discount50-320.webp") 1x,
            url("../img/discount50-320.png") 1x
          );
          background-image: image-set(
            url("../img/discount50-320.avif") 1x,
            url("../img/discount50-320.webp") 1x,
            url("../img/discount50-320.png") 1x
          );
          width: 40px;
          height: 40px;
          left: 7px;
          bottom: 4px;
        }
      }
    }
    &-name {
      font-weight: 400;
      font-size: 22px;
      line-height: 150%;
      @include tablet {
        font-size: 18px;
      }
      @include mobile {
        font-size: 12px;
      }
    }
  }
}