.card-grid {
  padding: 0 50px 50px 79px;
  @include laptop {
    padding: 0 38px 45px 42px;
  }
  @include tablet {
    padding: 0 32px 30px 34px;
  }
  @include mobile {
    padding: 22px 21px 20px 20px;
  }
  &__list {
    display: grid;
    gap: 61px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "one one one one one one"
      "two three four four five five"
      "six six four four seven seven"
      "eight eight eight eight nine ten"
      "eight eight eight eight nine eleven";
    @include laptopL {
      column-gap: 20px;
    }
    @include laptop {
      column-gap: 26px;
      row-gap: 23px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "one one one one"
        "two three four four"
        "six six four four"
        "five five nine ten"
        "seven seven nine eleven"
        "eight eight eight eight";
    }
    @include tablet {
      column-gap: 18px;
      row-gap: 18px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "one one one one"
        "two three four four"
        "six six four four"
        "five five nine ten"
        "seven seven nine eleven"
        "eight eight eight eight";
    }
    @include mobile {
      column-gap: 9px;
      row-gap: 19px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "one one"
        "one one"
        "two three"
        "six six"
        "four four"
        "four four"
        "five five"
        "seven seven"
        "nine ten"
        "nine eleven"
        "eight eight";
    }
  }
  &__item {
    &-banner {
      height: 480px;
      grid-area: one;
      @include laptop {
        height: 314px;
      }
      @include tablet {
        height: 280px;
      }
      @include mobile {
        height: 340px;
      }
    }
    &-book {
      height: 228px;
      grid-area: two;
      @include laptop {
        height: 202px;
      }
      @include tablet {
        height: 130px;
      }
      @include mobile {
        height: 120px;
      }
    }
    &-discount {
      height: 228px;
      grid-area: three;
      @include laptop {
        height: 202px;
      }
      @include tablet {
        height: 130px;
      }
      @include mobile {
        height: 120px;
      }
    }
    &-sneakers {
      height: 516px;
      grid-area: four;
      @include laptop {
        height: 418px;
      }
      @include tablet {
        height: 278px;
      }
      @include mobile {
        height: 206px;
      }
    }
    &-presents {
      height: 228px;
      grid-area: five;
      @include laptop {
        height: 194px;
      }
      @include tablet {
        height: 126px;
      }
      @include mobile {
        height: 118px;
      }
    }
    &-red {
      height: 228px;
      grid-area: six;
      @include laptop {
        height: 194px;
      }
      @include tablet {
        height: 126px;
      }
      @include mobile {
        height: 118px;
      }
    }
    &-appliances {
      height: 228px;
      grid-area: seven;
      @include laptop {
        height: 194px;
      }
      @include tablet {
        height: 126px;
      }
      @include mobile {
        height: 118px;
      }
    }
    &-decorations {
      height: 516px;
      grid-area: eight;
      @include laptop {
        height: 418px;
      }
      @include tablet {
        height: 337px;
      }
      @include mobile {
        height: 123px;
      }
    }
    &-woman {
      height: 516px;
      grid-area: nine;
      @include laptop {
        height: 410px;
      }
      @include tablet {
        height: 273px;
      }
      @include mobile {
        height: 195px;
      }
    }
    &-chemicals {
      height: 228px;
      grid-area: ten;
      @include laptop {
        height: 196px;
      }
      @include tablet {
        height: 131px;
      }
      @include mobile {
        height: 95px;
      }
    }
    &-balls {
      height: 228px;
      grid-area: eleven;
      @include laptop {
        height: 196px;
      }
      @include tablet {
        height: 131px;
      }
      @include mobile {
        height: 94px;
      }
    }
  }
  &__card {
    &-banner {
      height: 100%;
      background-size: 100% 480px;
      background-repeat: no-repeat;
      background-image: url("../img/banner.jpg");
      background-image: -webkit-image-set(
        url("../img/banner.avif") 1x,
        url("../img/banner.webp") 1x,
        url("../img/banner.jpg") 1x
      );
      background-image: image-set(
        url("../img/banner.avif") 1x,
        url("../img/banner.webp") 1x,
        url("../img/banner.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 314px;
        background-image: url("../img/banner1024.jpg");
        background-image: -webkit-image-set(
          url("../img/banner1024.avif") 1x,
          url("../img/banner1024.webp") 1x,
          url("../img/banner1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/banner1024.avif") 1x,
          url("../img/banner1024.webp") 1x,
          url("../img/banner1024.jpg") 1x
        );
        margin-bottom: 24px;
      }
      @include tablet {
        background-size: 100% 280px;
        background-image: url("../img/banner768.jpg");
        background-image: -webkit-image-set(
          url("../img/banner768.avif") 1x,
          url("../img/banner768.webp") 1x,
          url("../img/banner768.jpg") 1x
        );
        background-image: image-set(
          url("../img/banner768.avif") 1x,
          url("../img/banner768.webp") 1x,
          url("../img/banner768.jpg") 1x
        );
        margin-bottom: 24px;
      }
      @include mobile {
        background-size: 100% 340px;
        background-image: url("../img/banner320.jpg");
        background-image: -webkit-image-set(
          url("../img/banner320.avif") 1x,
          url("../img/banner320.webp") 1x,
          url("../img/banner320.jpg") 1x
        );
        background-image: image-set(
          url("../img/banner320.avif") 1x,
          url("../img/banner320.webp") 1x,
          url("../img/banner320.jpg") 1x
        );
        margin-bottom: 0px;
      }
    }
    &-book {
      height: 100%;
      background-size: 100% 228px;
      background-repeat: no-repeat;
      background-image: url("../img/grid1.jpg");
      background-image: -webkit-image-set(
        url("../img/grid1.avif") 1x,
        url("../img/grid1.webp") 1x,
        url("../img/grid1.jpg") 1x
      );
      background-image: image-set(
        url("../img/grid1.avif") 1x,
        url("../img/grid1.webp") 1x,
        url("../img/grid1.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 202px;
        background-image: url("../img/book1024.jpg");
        background-image: -webkit-image-set(
          url("../img/book1024.avif") 1x,
          url("../img/book1024.webp") 1x,
          url("../img/book1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/book1024.avif") 1x,
          url("../img/book1024.webp") 1x,
          url("../img/book1024.jpg") 1x
        );
      }
      @include tablet {
        background-size: 100% 130px;
        background-image: url("../img/book768.jpg");
        background-image: -webkit-image-set(
          url("../img/book768.avif") 1x,
          url("../img/book768.webp") 1x,
          url("../img/book768.jpg") 1x
        );
        background-image: image-set(
          url("../img/book768.avif") 1x,
          url("../img/book768.webp") 1x,
          url("../img/book768.jpg") 1x
        );
      }
      @include mobile {
        background-size: 100% 120px;
        background-image: url("../img/book320.jpg");
        background-image: -webkit-image-set(
          url("../img/book320.avif") 1x,
          url("../img/book320.webp") 1x,
          url("../img/book320.jpg") 1x
        );
        background-image: image-set(
          url("../img/book320.avif") 1x,
          url("../img/book320.webp") 1x,
          url("../img/book320.jpg") 1x
        );
      }
    }
    &-discount {
      height: 100%;
      background-size: 100% 228px;
      background-repeat: no-repeat;
      background-image: url("../img/grid2.jpg");
      background-image: -webkit-image-set(
        url("../img/grid2.avif") 1x,
        url("../img/grid2.webp") 1x,
        url("../img/grid2.jpg") 1x
      );
      background-image: image-set(
        url("../img/grid2.avif") 1x,
        url("../img/grid2.webp") 1x,
        url("../img/grid2.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 202px;
        background-image: url("../img/discount1024.jpg");
        background-image: -webkit-image-set(
          url("../img/discount1024.avif") 1x,
          url("../img/discount1024.webp") 1x,
          url("../img/discount1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/discount1024.avif") 1x,
          url("../img/discount1024.webp") 1x,
          url("../img/discount1024.jpg") 1x
        );
      }
      @include tablet {
        background-size: 100% 130px;
        background-image: url("../img/discount768.jpg");
        background-image: -webkit-image-set(
          url("../img/discount768.avif") 1x,
          url("../img/discount768.webp") 1x,
          url("../img/discount768.jpg") 1x
        );
        background-image: image-set(
          url("../img/discount768.avif") 1x,
          url("../img/discount768.webp") 1x,
          url("../img/discount768.jpg") 1x
        );
      }
      @include mobile {
        background-size: 100% 120px;
        background-image: url("../img/discount320.jpg");
        background-image: -webkit-image-set(
          url("../img/discount320.avif") 1x,
          url("../img/discount320.webp") 1x,
          url("../img/discount320.jpg") 1x
        );
        background-image: image-set(
          url("../img/discount320.avif") 1x,
          url("../img/discount320.webp") 1x,
          url("../img/discount320.jpg") 1x
        );
      }
    }
    &-sneakers {
      height: 100%;
      background-size: 100% 516px;
      background-repeat: no-repeat;
      background-image: url("../img/grid3.jpg");
      background-image: -webkit-image-set(
        url("../img/grid3.avif") 1x,
        url("../img/grid3.webp") 1x,
        url("../img/grid3.jpg") 1x
      );
      background-image: image-set(
        url("../img/grid3.avif") 1x,
        url("../img/grid3.webp") 1x,
        url("../img/grid3.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 418px;
        background-image: url("../img/sneackers1024.jpg");
        background-image: -webkit-image-set(
          url("../img/sneackers1024.avif") 1x,
          url("../img/sneackers1024.webp") 1x,
          url("../img/sneackers1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/sneackers1024.avif") 1x,
          url("../img/sneackers1024.webp") 1x,
          url("../img/sneackers1024.jpg") 1x
        );
      }
      @include tablet {
        background-size: 100% 278px;
        background-image: url("../img/sneackers768.jpg");
        background-image: -webkit-image-set(
          url("../img/sneackers768.avif") 1x,
          url("../img/sneackers768.webp") 1x,
          url("../img/sneackers768.jpg") 1x
        );
        background-image: image-set(
          url("../img/sneackers768.avif") 1x,
          url("../img/sneackers768.webp") 1x,
          url("../img/sneackers768.jpg") 1x
        );
      }
      @include mobile {
        background-size: 100% 206px;
        background-image: url("../img/sneackers320.jpg");
        background-image: -webkit-image-set(
          url("../img/sneackers320.avif") 1x,
          url("../img/sneackers320.webp") 1x,
          url("../img/sneackers320.jpg") 1x
        );
        background-image: image-set(
          url("../img/sneackers320.avif") 1x,
          url("../img/sneackers320.webp") 1x,
          url("../img/sneackers320.jpg") 1x
        );
      }
    }
    &-presents {
      height: 100%;
      background-size: 100% 228px;
      background-repeat: no-repeat;
      background-image: url("../img/grid4.jpg");
      background-image: -webkit-image-set(
        url("../img/grid4.avif") 1x,
        url("../img/grid4.webp") 1x,
        url("../img/grid4.jpg") 1x
      );
      background-image: image-set(
        url("../img/grid4.avif") 1x,
        url("../img/grid4.webp") 1x,
        url("../img/grid4.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 194px;
        background-image: url("../img/presents1024.jpg");
        background-image: -webkit-image-set(
          url("../img/presents1024.avif") 1x,
          url("../img/presents1024.webp") 1x,
          url("../img/presents1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/presents1024.avif") 1x,
          url("../img/presents1024.webp") 1x,
          url("../img/presents1024.jpg") 1x
        );
      }
      @include tablet {
        background-size: 100% 126px;
        background-image: url("../img/presents768.jpg");
        background-image: -webkit-image-set(
          url("../img/presents768.avif") 1x,
          url("../img/presents768.webp") 1x,
          url("../img/presents768.jpg") 1x
        );
        background-image: image-set(
          url("../img/presents768.avif") 1x,
          url("../img/presents768.webp") 1x,
          url("../img/presents768.jpg") 1x
        );
      }
      @include mobile {
        background-size: 100% 118px;
        background-image: url("../img/presents320.jpg");
        background-image: -webkit-image-set(
          url("../img/presents320.avif") 1x,
          url("../img/presents320.webp") 1x,
          url("../img/presents320.jpg") 1x
        );
        background-image: image-set(
          url("../img/presents320.avif") 1x,
          url("../img/presents320.webp") 1x,
          url("../img/presents320.jpg") 1x
        );
      }
    }
    &-red {
      height: 100%;
      background-size: 100% 228px;
      background-repeat: no-repeat;
      background-image: url("../img/grid5.jpg");
      background-image: -webkit-image-set(
        url("../img/grid5.avif") 1x,
        url("../img/grid5.webp") 1x,
        url("../img/grid5.jpg") 1x
      );
      background-image: image-set(
        url("../img/grid5.avif") 1x,
        url("../img/grid5.webp") 1x,
        url("../img/grid5.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 194px;
        background-image: url("../img/red1024.jpg");
        background-image: -webkit-image-set(
          url("../img/red1024.avif") 1x,
          url("../img/red1024.webp") 1x,
          url("../img/red1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/red1024.avif") 1x,
          url("../img/red1024.webp") 1x,
          url("../img/red1024.jpg") 1x
        );
      }
      @include tablet {
        background-size: 100% 126px;
        background-image: url("../img/red768.jpg");
        background-image: -webkit-image-set(
          url("../img/red768.avif") 1x,
          url("../img/red768.webp") 1x,
          url("../img/red768.jpg") 1x
        );
        background-image: image-set(
          url("../img/red768.avif") 1x,
          url("../img/red768.webp") 1x,
          url("../img/red768.jpg") 1x
        );
      }
      @include mobile {
        background-size: 100% 118px;
        background-image: url("../img/red320.jpg");
        background-image: -webkit-image-set(
          url("../img/red320.avif") 1x,
          url("../img/red320.webp") 1x,
          url("../img/red320.jpg") 1x
        );
        background-image: image-set(
          url("../img/red320.avif") 1x,
          url("../img/red320.webp") 1x,
          url("../img/red320.jpg") 1x
        );
      }
    }
    &-appliances {
      height: 100%;
      background-size: 100% 228px;
      background-repeat: no-repeat;
      background-image: url("../img/grid6.jpg");
      background-image: -webkit-image-set(
        url("../img/grid6.avif") 1x,
        url("../img/grid6.webp") 1x,
        url("../img/grid6.jpg") 1x
      );
      background-image: image-set(
        url("../img/grid6.avif") 1x,
        url("../img/grid6.webp") 1x,
        url("../img/grid6.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 194px;
        margin-bottom: 27px;
        background-image: url("../img/appliances1024.jpg");
        background-image: -webkit-image-set(
          url("../img/appliances1024.avif") 1x,
          url("../img/appliances1024.webp") 1x,
          url("../img/appliances1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/appliances1024.avif") 1x,
          url("../img/appliances1024.webp") 1x,
          url("../img/appliances1024.jpg") 1x
        );
      }
      @include tablet {
        background-size: 100% 126px;
        margin-bottom: 0px;
        background-image: url("../img/appliances768.jpg");
        background-image: -webkit-image-set(
          url("../img/appliances768.avif") 1x,
          url("../img/appliances768.webp") 1x,
          url("../img/appliances768.jpg") 1x
        );
        background-image: image-set(
          url("../img/appliances768.avif") 1x,
          url("../img/appliances768.webp") 1x,
          url("../img/appliances768.jpg") 1x
        );
      }
      @include mobile {
        background-size: 100% 118px;
        margin-bottom: 0px;
        background-image: url("../img/appliances320.jpg");
        background-image: -webkit-image-set(
          url("../img/appliances320.avif") 1x,
          url("../img/appliances320.webp") 1x,
          url("../img/appliances320.jpg") 1x
        );
        background-image: image-set(
          url("../img/appliances320.avif") 1x,
          url("../img/appliances320.webp") 1x,
          url("../img/appliances320.jpg") 1x
        );
      }
    }
    &-decorations {
      height: 100%;
      background-size: 100% 516px;
      background-repeat: no-repeat;
      background-image: url("../img/grid7.jpg");
      background-image: -webkit-image-set(
        url("../img/grid7.avif") 1x,
        url("../img/grid7.webp") 1x,
        url("../img/grid7.jpg") 1x
      );
      background-image: image-set(
        url("../img/grid7.avif") 1x,
        url("../img/grid7.webp") 1x,
        url("../img/grid7.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 418px;
        background-image: url("../img/decorations1024.jpg");
        background-image: -webkit-image-set(
          url("../img/decorations1024.avif") 1x,
          url("../img/decorations1024.webp") 1x,
          url("../img/decorations1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/decorations1024.avif") 1x,
          url("../img/decorations1024.webp") 1x,
          url("../img/decorations1024.jpg") 1x
        );
      }
      @include tablet {
        background-size: 100% 337px;
        background-image: url("../img/decorations768.jpg");
        background-image: -webkit-image-set(
          url("../img/decorations768.avif") 1x,
          url("../img/decorations768.webp") 1x,
          url("../img/decorations768.jpg") 1x
        );
        background-image: image-set(
          url("../img/decorations768.avif") 1x,
          url("../img/decorations768.webp") 1x,
          url("../img/decorations768.jpg") 1x
        );
      }
      @include mobile {
        background-size: 100% 123px;
        background-image: url("../img/decorations320.jpg");
        background-image: -webkit-image-set(
          url("../img/decorations320.avif") 1x,
          url("../img/decorations320.webp") 1x,
          url("../img/decorations320.jpg") 1x
        );
        background-image: image-set(
          url("../img/decorations320.avif") 1x,
          url("../img/decorations320.webp") 1x,
          url("../img/decorations320.jpg") 1x
        );
      }
    }
    &-woman {
      height: 100%;
      background-size: 100% 516px;
      background-repeat: no-repeat;
      background-image: url("../img/grid8.jpg");
      background-image: -webkit-image-set(
        url("../img/grid8.avif") 1x,
        url("../img/grid8.webp") 1x,
        url("../img/grid8.jpg") 1x
      );
      background-image: image-set(
        url("../img/grid8.avif") 1x,
        url("../img/grid8.webp") 1x,
        url("../img/grid8.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 410px;
        background-image: url("../img/woman1024.jpg");
        background-image: -webkit-image-set(
          url("../img/woman1024.avif") 1x,
          url("../img/woman1024.webp") 1x,
          url("../img/woman1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/woman1024.avif") 1x,
          url("../img/woman1024.webp") 1x,
          url("../img/woman1024.jpg") 1x
        );
      }
      @include tablet {
        background-size: 100% 273px;
        background-image: url("../img/woman768.jpg");
        background-image: -webkit-image-set(
          url("../img/woman768.avif") 1x,
          url("../img/woman768.webp") 1x,
          url("../img/woman768.jpg") 1x
        );
        background-image: image-set(
          url("../img/woman768.avif") 1x,
          url("../img/woman768.webp") 1x,
          url("../img/woman768.jpg") 1x
        );
      }
      @include mobile {
        background-size: 100% 195px;
        background-image: url("../img/woman320.jpg");
        background-image: -webkit-image-set(
          url("../img/woman320.avif") 1x,
          url("../img/woman320.webp") 1x,
          url("../img/woman320.jpg") 1x
        );
        background-image: image-set(
          url("../img/woman320.avif") 1x,
          url("../img/woman320.webp") 1x,
          url("../img/woman320.jpg") 1x
        );
      }
    }
    &-chemicals {
      height: 100%;
      background-size: 100% 228px;
      background-repeat: no-repeat;
      background-image: url("../img/grid9.jpg");
      background-image: -webkit-image-set(
        url("../img/grid9.avif") 1x,
        url("../img/grid9.webp") 1x,
        url("../img/grid9.jpg") 1x
      );
      background-image: image-set(
        url("../img/grid9.avif") 1x,
        url("../img/grid9.webp") 1x,
        url("../img/grid9.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 196px;
        background-image: url("../img/chemicals1024.jpg");
        background-image: -webkit-image-set(
          url("../img/chemicals1024.avif") 1x,
          url("../img/chemicals1024.webp") 1x,
          url("../img/chemicals1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/chemicals1024.avif") 1x,
          url("../img/chemicals1024.webp") 1x,
          url("../img/chemicals1024.jpg") 1x
        );
      }
      @include tablet {
        background-size: 100% 131px;
        background-image: url("../img/chemicals768.jpg");
        background-image: -webkit-image-set(
          url("../img/chemicals768.avif") 1x,
          url("../img/chemicals768.webp") 1x,
          url("../img/chemicals768.jpg") 1x
        );
        background-image: image-set(
          url("../img/chemicals768.avif") 1x,
          url("../img/chemicals768.webp") 1x,
          url("../img/chemicals768.jpg") 1x
        );
      }
      @include mobile {
        background-size: 100% 95px;
        background-image: url("../img/chemicals320.jpg");
        background-image: -webkit-image-set(
          url("../img/chemicals320.avif") 1x,
          url("../img/chemicals320.webp") 1x,
          url("../img/chemicals320.jpg") 1x
        );
        background-image: image-set(
          url("../img/chemicals320.avif") 1x,
          url("../img/chemicals320.webp") 1x,
          url("../img/chemicals320.jpg") 1x
        );
      }
    }
    &-balls {
      height: 100%;
      background-size: 100% 228px;
      background-repeat: no-repeat;
      background-image: url("../img/grid10.jpg");
      background-image: -webkit-image-set(
        url("../img/grid10.avif") 1x,
        url("../img/grid10.webp") 1x,
        url("../img/grid10.jpg") 1x
      );
      background-image: image-set(
        url("../img/grid10.avif") 1x,
        url("../img/grid10.webp") 1x,
        url("../img/grid10.jpg") 1x
      );
      display: block;
      @include laptop {
        background-size: 100% 196px;
        background-image: url("../img/balls1024.jpg");
        background-image: -webkit-image-set(
          url("../img/balls1024.avif") 1x,
          url("../img/balls1024.webp") 1x,
          url("../img/balls1024.jpg") 1x
        );
        background-image: image-set(
          url("../img/balls1024.avif") 1x,
          url("../img/balls1024.webp") 1x,
          url("../img/balls1024.jpg") 1x
        );
      }
      @include tablet {
        background-size: 100% 131px;
        background-image: url("../img/balls768.jpg");
        background-image: -webkit-image-set(
          url("../img/balls768.avif") 1x,
          url("../img/balls768.webp") 1x,
          url("../img/balls768.jpg") 1x
        );
        background-image: image-set(
          url("../img/balls768.avif") 1x,
          url("../img/balls768.webp") 1x,
          url("../img/balls768.jpg") 1x
        );
      }
      @include mobile {
        background-size: 100% 94px;
        background-image: url("../img/balls320.jpg");
        background-image: -webkit-image-set(
          url("../img/balls320.avif") 1x,
          url("../img/balls320.webp") 1x,
          url("../img/balls320.jpg") 1x
        );
        background-image: image-set(
          url("../img/balls320.avif") 1x,
          url("../img/balls320.webp") 1x,
          url("../img/balls320.jpg") 1x
        );
      }
    }
  }
}