.footer {
  &__wrapper {
    padding: 83px 0px 79px 73px;
    background-color: $black;
    color: $white;
    display: grid;
    grid-template-columns: 0.3fr 0.57fr 0.43fr 0.5fr;
    grid-template-areas: 
    "logo catalog clients contacts"
    "copyright copyright copyright copyright";
    @include laptop {
      padding: 60px 0 43px 42px;
      grid-template-columns: 0.3fr 0.5fr 0.5fr;
      grid-template-areas: 
      "logo logo logo"
      "catalog clients contacts"
      "copyright copyright copyright";
    }
    @include tablet {
      padding: 41px 0 35px 34px;
      grid-template-columns: 0.3fr 0.48fr 0.5fr;
    }
    @include mobileL {
      padding: 30px 0 19px 20px;
      grid-template-columns: 1fr;     
      grid-template-areas: 
      "logo"
      "catalog"
      "clients"
      "contacts"
      "copyright";
    }
  }

  &__catalog {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    max-height: 500px;
    grid-area: catalog;
    @include laptopL {
      max-height: fit-content;
    }
    @include laptop {
      margin-bottom: 95px;
    }
    @include tablet {
      margin-bottom: 55px;
    }
    @include mobile {
      position: relative;
      margin-bottom: 18px;
    }
    &-title {
      margin-bottom: 41px;
      font-weight: 700;
      font-size: 32px;
      line-height: 130%;
      @include laptop {
        margin-bottom: 29px;
      }
      @include tablet {
        margin-bottom: 20px;
        font-size: 26px;
      }
      @include mobile {
        margin-bottom: 0;
        font-size: 20px;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-right: 87px;
      height: 330px;
      gap: 15px;
      font-weight: 400;
      font-size: 22px;
      line-height: 150%;
      @include laptopL {
        height: 100%;
        flex-wrap: nowrap;
        padding-right: 20px;
      }
      @include tablet {
        gap: 10px;
        font-size: 16px;
      }
      @include tablet {
        gap: 0px;
      }
    }
    &-item {
      white-space: nowrap;
      @media (max-width: 320px) {
        height: 0;
        overflow: hidden;
        transition: height .4s ease-in-out;
      }
    }
    &-btn {
      display: none;
      @include mobile {
        display: block;
        position: absolute;
        top: 10px;
        left: 90px;
        border: 7px solid transparent; 
        border-top: 7px solid $white;
        background-color: transparent;
      }
    }
  }

  &__logo {
    &-wrapper {
      grid-area: logo;
      @media (max-width: 1024px) {
        margin-bottom: 63px;
      }
      @media (max-width: 768px) {
        margin-bottom: 40px;
      }
      @media (max-width: 320px) {
        margin-bottom: 30px;
      }
    }
    &-text{
    font-family: 'Open Sans';
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 33px;
    line-height: 41px;
    @media (max-width: 1024px) {
      font-size: 33px;
    }
    @media (max-width: 768px) {
      font-size: 27px;
      line-height: 33px;
    }
    @media (max-width: 320px) {
      font-size: 22px;
      line-height: 27px;
    }
    }
    &-second {
      color: $blue;
    }
  }

  &__clients {
    grid-area: clients;
    @include mobile {
      position: relative;
      margin-bottom: 30px;
    }
    &-title {
      margin-bottom: 41px;
      font-weight: 700;
      font-size: 32px;
      line-height: 130%;
      pointer-events: none;
      @include laptop {
        margin-bottom: 29px;
      }
      @include tablet {
        margin-bottom: 20px;
        font-size: 26px;
      }
      @include mobile {
        margin-bottom: 7px;
        font-size: 20px;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-weight: 400;
      font-size: 22px;
      line-height: 150%;
      margin-right: 189px;
      @media (max-width: 1024px) {
        margin: 0;
      }
      @media (max-width: 768px) {
        gap: 10px;
        font-size: 16px;
      }
      @media (max-width: 320px) {
        gap: 4px;
        font-size: 12px;
      }
    }
    &-item {
      @include mobile {
        height: 0;
        overflow: hidden;
        transition: height .4s ease-in-out;
      }
    }
    &-btn {
      display: none;
      @media (max-width: 320px) {
        display: block;
        position: absolute;
        top: 12px;
        left: 139px;
        border: 7px solid transparent; 
        border-top: 7px solid $white;
        background-color: transparent;
      }
    }
  }

  &__contacts {
    grid-area: contacts;
    @include mobile {
      margin-bottom: 41px;
    }
    &-title {
      margin-bottom: 41px;
      font-weight: 700;
      font-size: 32px;
      line-height: 130%;
      @include laptop {
        margin-bottom: 34px;
      }
      @include tablet {
        margin-bottom: 21px;
        font-size: 26px;
      }
      @include mobile {
        margin-bottom: 9px;
        font-size: 20px;
      }
    }
    &-list {
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      @include mobile {
        margin-bottom: 20px;
      }
    }
    &-item {
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      @media (max-width: 768px) {
        font-size: 12px;
      }
      @media (max-width: 320px) {
        font-size: 10px;
      }
      &:first-child {
        margin-bottom: 20px;
        @media (max-width: 768px) {
          margin-bottom: 13px;
        }
        @media (max-width: 320px) {
          margin-bottom: 9px;
        }
      }
      &:nth-child(2) {
        margin-bottom: 38px;
        @media (max-width: 768px) {
          margin-bottom: 28px;
        }
        @media (max-width: 320px) {
          margin-bottom: 22px;
        }
      }
    }
    &-socials {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      @include laptopL {
        gap: 10px;
      }
      @include laptop {
        gap: 20px;
      }
      @include tablet {
        gap: 15px;
      }
    }
    &-whats-app {
      width: 26px;
      height: 26px;
      background-image: url("../img/discounts/ant-design_whats-app-outlined.svg");
      display: block;
    }
    &-instagram {
      width: 26px;
      height: 26px;
      background-image: url("../img/discounts/bi_instagram.svg");
      display: block;
    }
    &-youtube {
      width: 26px;
      height: 26px;
      background-image: url("../img/discounts/ant-design_youtube-outlined.svg");
      display: block;
    }
    &-facebook {
      width: 26px;
      height: 26px;
      background-image: url("../img/discounts/feather_facebook.svg");
      display: block;
    }
    &-telegram {
      width: 26px;
      height: 26px;
      background-image: url("../img/discounts/la_telegram-plane.svg");
      display: block;
    }
  }

  &__copy {
    grid-area: copyright;
    &-list {
      display: flex;
      justify-content: space-between;
      padding-right: 333px;
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      @include laptopL {
        padding-right: 126px;
      }
      @include laptop {
        padding-right: 87px;
      }
      @include tablet {
        padding-right: 113px;
        font-size: 12px;
      }
      @include mobile {
        padding-right: 40px;
        font-size: 10px;
      }
    }
    &-author {
      margin-bottom: 13px;
      @media (max-width: 1024px) {
        margin-bottom: 10px;
      }
      @media (max-width: 320px) {
        margin-bottom: 5px;
      }
    }
  }

  &__copy-media,
  &__contacts-link,
  &__clients-link,
  &__catalog-link {
    display: inline-block;
    position: relative;
  }

  &__copy-media::after,
  &__contacts-link::after,
  &__clients-link::after,
  &__catalog-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &__copy-media:hover:after,
  &__contacts-link:hover:after,
  &__clients-link:hover:after,
  &__catalog-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}