.product {
  padding: 38px 0 0 75px;
  @include laptop {
    padding: 32px 0 0 42px;
  }
  @include tablet {
    padding: 25px 0 0 34px;
  }
  @include mobile {
    padding: 10px 0 0 20px;
  }
  &__title {
    position: relative;
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
    color: $black;
    @include laptop {
      margin-bottom: 67px;
      font-size: 40px;
      max-width: 538px;
    }
    @include tablet {
      margin-bottom: 45px;
      font-size: 28px;
    }
    @include mobile {
      margin-bottom: 24px;
      font-size: 18px;
    }
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 97%;
      bottom: -21px;
      left: 0;
      background-color: $underline-clr;
      @include laptop {
        width: 92vw;
        bottom: -17px;
      }
      @include tablet {
        width: 91vw;
        bottom: -8px;
      }
      @include mobile {
        width: 87.5vw;
        bottom: -4px;
      }
    }
  }
  &__list {
    display: grid;
    row-gap: 83px;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas: 
    "pic card"
    "desc ." ;
    @include laptop {
      row-gap: 53px;
      grid-template-areas: 
      "pic card"
      "desc desc" ;
    }
    @include tablet {
      grid-template-columns: 1fr 0.5fr;
      grid-template-rows: 0px 1fr;
      grid-template-areas:
      ". card" 
      "pic card"
      "desc desc" ;
      row-gap: 40px;
    }
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "pic" 
      "card"
      "desc" ;
      row-gap: 20px;
    }
  }
  &__item{
    &-card{
      &:nth-child(1) {
        position: relative;
        grid-area: pic;
      }
      &:nth-child(2) {
        grid-area: card;
        padding: 6px 58px 0 128px;
        @include laptop {
          padding: 0 41px 0 100px;
        }
        @include tablet {
          padding: 0 34px 0 27px;
        }
        @include mobile {
          padding: 0;
        }
      }
    }
    &-discount {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 42%;
      top: 20px;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background: {
        color: #FFBD13;
      }
      color: $white;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      @include laptop {
        width: 66px;
        height: 66px;
        right: 30px;
        top: 10px;
        font-size: 20px;
      }
      @include tablet {
        width: 50px;
        height: 50px;
        right: 23px;
        top: 13px;
        font-size: 16px;
      }
      @include mobile {
        width: 32px;
        height: 32px;
        right: 25px;
        top: 5px;
        font-size: 12px;
      }
    }
    &-pic {
      width: 757px;
      height: 427px;
      @include laptop {
        width: 540px;
        height: 303px;
      }
      @include tablet {
        width: 380px;
        height: 213px;
      }
      @include mobile {
        width: 280px;
        height: 157px;
      }
    }
    &-desc {
      grid-area: desc;
      @include laptop {
        padding-right: 30px;
      }
      @include tablet {
        padding-right: 35px;
      }
      @include mobile {
        padding: 16px 15px 0px 0px;
      }
      &-title {
        margin-bottom: 19px;
        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
        @include laptop {
          font-size: 24px;
        }
        @include tablet {
          font-size: 18px;
          margin-bottom: 10px;
        }
        @include mobile {
          margin-bottom: 5px;
          font-size: 16px;
        }
      }
      &-subtitle {
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        @include laptop {
          font-size: 18px;
        }
        @include tablet {
          font-size: 16px;
        }
        @include mobile {
          font-size: 12px;
        }
      }
    }
  }
  &__card{
    &-list {
      position: relative;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
      border-radius: 16px;
      padding: 46px 0 35px 42px;
      @include laptop {
        padding: 27px 0px 25px 19px;
      }
      @include tablet {
        padding: 24px 0 25px 19px;
      }
      @include mobile {
        box-shadow: unset;
        border-radius: 0;
        padding: 26px 0 25px 30px;
      }
      &:before {
        @include mobile {
          content: "";
          width: 100vw;
          height: 250px;
          position: absolute;
          top: 0px;
          left: -20px;
          background-color: transparent;
          box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
        }
      }
    }
    &-price {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      gap: 26px;
      @include laptop {
        gap: 25px;
        margin-bottom: 15px;
      }
      @include mobile {
        margin-bottom: 14px;
      }
      &-discount {
        color: $red;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        @include laptop {
          font-size: 28px;
          line-height: 34px;
        }
        @include mobile {
          font-size: 20px;
          line-height: 24px;
        }
      }
      &-nodiscount {
        text-decoration: line-through;
        text-decoration-thickness: 1px;
        color: $black;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        @include laptop {
          font-size: 18px;
          line-height: 22px;
        }
        @include mobile {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
    &-credit {
      margin-bottom: 27px;
      color: $blue;
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      @include laptop {
        margin-bottom: 29px;
        font-size: 14px;
      }
      @include mobile {
        margin-bottom: 18px;
        font-size: 12px;
      }
    }
    &-btns {
      position: relative;
      display: flex;
      align-items: center;
      gap: 23px;
      margin-bottom: 33px;
      @include laptop {
        padding-right: 23px;
      }
      @include mobile {
        padding: 0;
        gap: 18px;
        margin-bottom: 21px;
      }
      &-bucket {
        width: 234px;
        height: 55px;
        background: $blue;
        border-radius: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: $white;
        border: none;
        @include laptop {
          width: 202px;
          height: 45px;
        }
        @include mobile {
          width: 148px;
          height: 32px;
          font-size: 12px;
        }
      }
      &-checkbox {
        display: none;
      }
      &-favorite {
        position: relative;
        cursor: pointer;
        width: 33px;
        height: 33px;
        background: {
          image: url("../img/card/card-favorite.svg");
          repeat: no-repeat;
          color: transparent; 
          size: cover;
        };
        @include mobile {
          width: 24px;
          height: 24px;
        }
      }
      &-favorite::before {
        content: '';
        top: 0;
        left: 0;
        width: 33px;
        height: 33px;
        background: {
          image: url("../img/card/card-favorite-active.svg");
          repeat: no-repeat;
          color: transparent;  
          size: cover;
        };
        opacity: 0;
        transition: all 0.3s ease-in-out;
        @include mobile {
          width: 24px;
          height: 24px;
        }
      }
      &-checkbox:checked + &-favorite::before {
        position: absolute;
        opacity: 1;
      }
    }
    &-info {
      display: flex;
      gap: 77px;
      margin-bottom: 27px;
      @include laptop {
        gap: 62px;
      }
      @include mobile {
        margin-bottom: 18px;
        gap: 33px;
      }
      &-shipping,
      &-seller {
        &-wrapper {
          display: flex;
          flex-direction: column;
          gap: 5px;
          @include mobile {
            gap: 8px;
          }
        }
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $gray;
        @include mobile {
          font-size: 12px;
        }
      }
      &-date,
      &-name {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        @include mobile {
          font-size: 12px;
        }
      }
    }
    &-discount {
      display: flex;
      gap: 11px;
      @include laptop {
        gap: 6px;
      }
      @include mobile {
        gap: 4px;
      }
      &-btn {
        width: 24px;
        height: 24px;
        background: {
          image: url("../img/card/card-bell.svg");
          repeat: no-repeat;
          color: transparent; 
        };
        border: none;
        @include mobile {
          width: 14px;
          height: 14px;
          background-image: url("../img/card/card-bell@320.svg");
        }
      }
      &-txt {
        display: flex;
        align-items: flex-end;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: $blue;
        @include laptop {
          font-size: 14px;
        }
        @include mobile {
          font-size: 8px;
        }
      }
    }
  }
}